
#abtWall{
    background:url('../images/backgrounds/aboutback.jpg') no-repeat center center;
    background-size: cover;
    min-height:300px;
}
#abtContent{
    min-height:400px;
}
#abtContentLeft{
    min-height:inherit;
}
