
/*
    ** Head and Jumbotron **
*/
#headContent {

    background: #464646 url("../images/backgrounds/homeback.jpg") no-repeat center center;
    background-size: cover;
    min-height:600px;

}

.jumbotron {
    text-align: center;
    /*min-height: 500px;*/
    background:transparent;
    color:#fff;
    padding-top:150px;
}

/*
    ** About Section **
*/
#aboutContent {
    min-height: 600px;
}

#aboutLeft {
    min-height: inherit;
    /*background: #008E54;*/
    /*color: #fff;*/
}

#aboutRight {
    min-height: inherit;
    /*background: rgba(0, 142, 84, 0.8);*/
    /*color: #fff;*/
}

#aboutContent p {
    font-size: 25px;
    line-height: 40px;
    margin-bottom:20px;
}

#aboutContent hr {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

}

/*
    ** Products Section **
*/
#productsContent {
    min-height: 500px;
    /*color: #fff;*/
}

#prodLeft {
    /*background: rgba(51, 122, 183, 0.8);*/
    min-height: inherit;
}

#prodRight {
    /*background: #337ab7;*/
    min-height: inherit;
}

#slider-thumbs {
    margin: 20px 5px;
}

/*
    ** Tech Section **
*/
#techContent {
    min-height: 500px;
}

#techLeft {
    /*background: rgba(205, 187, 121, 0.8);*/
    min-height: inherit;
}

#techRight {
    /*background: #CDBB79;*/
    min-height: inherit;
}
#techGrid ul li{
    margin:10px 10px 10px 0px;
}
#techGrid img{
   width:120px;
    height:120px;
}
/*
    ** Media Queries **
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .jumbotron{
        padding-top: 60px;
        min-height:300px;
    }
    .innerwrapper{
        padding:60px 0px 20px 0px;
    }
    #aboutContent p{
        font-size:14px;
        padding:0px;
        line-height: 35px;
    }

    #productsContent{
        min-height: 400px;
    }
    #techContent{
        min-height: 500px;
    }
    #prodRight,#techLeft{
        min-height:300px;
    }
    h3{
        padding:30px 0px;
        margin-top:0px;
    }
    ol,ul{
        margin:0;
    }
    #slider-thumbs{
        margin:10px 0px 0px 5px;
    }
}

