
html, body {
    height: 100%;
}

body {
    font-family: 'Droid Sans', sans-serif;
}

.navbar {
    min-height: 67px;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.navbar-nav li a {
    color: #777;
}

.navbar-nav li a:hover, .navbar-nav li a:focus, navbar-nav li a:active {
    color: #000;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-brand img {
    height: 40px;
}

.quotes {
    font-family: 'Lobster', cursive;
}

.ptb-10 {
    padding: 10px;
}

.ptb-20 {
    padding: 20px;
}

.ptb-30 {
    padding: 30px;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.plr-20 {
    padding: 0px 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.outerwrapper {
    padding: 50px 0px 0px 0px;
}

.innerwrapper {
    padding: 100px 0px;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border {
    border: 1px solid #ddd;
}
.big-heading img{
    height:120px;
    width:120px;
}
.big-heading h1 {
    font-size: 40px;
    margin: 10px 0px 30px 0px;
}

.selected img {
    opacity: 0.5;
}

.footer {
    padding: 20px;
    /*background: rgba(0, 0, 0, 0.7);*/
    border-top: 1px solid #ddd;
}

.footer p {
    margin: 10px 0px;
    font-size: 16px;
}

.carousel-control i {
    display: inline-block;
    position: absolute;
    top: 50%;
}


.css3gradient {
    height: 1px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#92C177, endColorstr=#4681cf);
    background-image: -moz-linear-gradient(left,#92C177,#4681cf);
    background-image: linear-gradient(left,#92C177,#4681cf);
    background-image: -webkit-linear-gradient(left,#92C177,#4681cf);
    background-image: -o-linear-gradient(left,#92C177,#4681cf);
    background-image: -ms-linear-gradient(left,#92C177,#4681cf);
}

