/*Start of Common CSS*/

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.border-right {
    border-right: 1px solid #ddd;
}

.mr-5 {
    margin-right: 5px;
}

.ml-20 {
    margin-left: 20px;
}

.vertical-line {
    border-left: 1px solid #ddd;
    margin-left: 5px;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.pad-10 {
    padding: 0px 0px 10px 0px;
}

.mb-20 {
    margin-bottom: 20px;
}

.text-bold {
    font-weight: bold;
}


/*End of Common CSS*/


/*Start of header section CSS*/

.navbar-default {
    margin-bottom: 0px;
    border-radius: 0;
    padding: 15px 15px 0px 15px;
    height: 40px;
}

.heading {
    font-size: 20px;
    margin: 0px 10px 0px 0px;
    display: inline;
    font-weight: bold;
}

.sub-heading {
    font-weight: bold;
    position: relative;
    top: -2px;
}

.bars-icon {
    display: none;
}


/*End of header section CSS*/


/*Start of main section CSS*/

#map-container,
.side-menu {
    height: 100vh;
}

.separator {
    margin: 15px 0px;
    border-top: 1px solid #ddd;
}

#pano {
    width: 400px;
    height: 300px;
}

.title-heading {
    font-weight: bold;
    margin-bottom: 20px;
}


/*Start of main section CSS*/

.filter-section {
    margin-top: 70px;
}

.results li {
    padding: 0px 0px 20px 0px;
    cursor: pointer;
    color: #666;
}

.results li:hover {
    color: #111;
}

.input-group-addon {
    background: #428bca;
    color: #fff;
}


/*End of main section CSS*/


/*Start of CSS for smaller devices*/

@media screen and (min-width:320px) and (max-width:767px) {
    .heading {
        display: block;
        margin-bottom: 5px;
    }
    .vertical-line {
        display: none;
    }
    .navbar-default {
        height: 70px;
        padding: 15px;
    }
    .bars-icon {
        display: block;
        position: relative;
        top: -25px;
        margin-left: 29px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        float: right;
    }
    .side-menu {
        position: absolute;
        height: 100%;
        background: #fff;
        z-index: 1;
        width: 70%;
        left: -70%;
    }
    .filter-section {
        margin-top: 90px;
    }
    .side-menu {
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 0.2s;
        animation: slide 0.5s forwards;
        animation-delay: 0.2s;
    }
    @-webkit-keyframes slide {
        100% {
            left: 0;
        }
    }
    @keyframes slide {
        100% {
            left: 0;
        }
    }
}


/*End of CSS for smaller devices*/