<section class="wrapper">
    <section class="col-md-6 col-md-offset-3">
        <h3 class="text-center mb-20">Delete Items</h3>
        <hr>
        <div class="panel panel-default form-panel del-panel">
            <div class="del-content">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="form-group">
                <button class="btn btn-success pull-right">Yes I Want To !</button>
                <button class="btn btn-success pull-left" ng-click="deleteCtrl.goBack()">No Take Me Back !</button>
            </div>
        </div>
    </section>
</section>