<section class="wrapper">
    <section class="col-md-6 col-md-offset-3">
        <h3 class="text-center mb-20">Edit Items</h3>
        <hr>
        <div class="panel panel-default form-panel">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <select class="form-control">
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Item Name" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload Image</label>
                        <input type="file" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>