
<head>
    <ng-include src="'templates/styles.html'"></ng-include>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
<ng-include src="'templates/header.html'"></ng-include>
<article class="outerwrapper" id="abtWall">

</article>

<div class="container">
    <div class="row">
        <article id="abtContent">
            <section id="abtContentLeft" class="col-md-3 border-right">
                <ul class="nav navbar-stacked ptb-10">
                    <li><a href="javascript:void(0)" class="text-success">lorem</a></li>
                    <li><a href="#" class="text-warning">lorem</a></li>
                    <li><a href="#" class="text-primary">lorem</a></li>
                    <li><a href="#" class="text-info">lorem</a></li>
                </ul>
            </section>
            <section id="abtContentRight" class="col-md-9">
                <h1 class="border-bottom mb15 ptb-10">Lorem</h1>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa debitis dolor
                    dolore dolorum eaque eius enim eos harum in iusto, labore magni modi molestias nesciunt nisi,
                    nostrum nulla perferendis placeat praesentium, quasi repellendus rerum saepe sapiente soluta tempore
                    ut vitae voluptatibus. Est ex fuga iste libero numquam quam sunt veritatis!. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Amet, aspernatur autem dolores, dolorum et ex illo in inventore
                    ipsam nulla possimus, reiciendis sit soluta suscipit tempora tenetur totam? Ad adipisci aliquid amet
                    asperiores aspernatur culpa deleniti dolor eum ex, ipsum minima minus neque non perferendis possimus
                    rem reprehenderit suscipit, velit!</p>
            </section>

        </article>
    </div>
</div>
</body>
</html>

