
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header>
    <nav class="nav navbar navbar-default navbar-fixed-top" id="navigationMenu">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle" data-target="#mainHeader">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#/" class="navbar-brand"><img src="logo.svg"/></a>

                </div>
                <div class="navbar-collapse collapse" id="mainHeader">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/about">Lorem</a></li>
                        <li><a href="#/contact">Lorem</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

