
<head>
    <ng-include src="'templates/styles.html'"></ng-include>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
<ng-include src="'templates/header.html'"></ng-include>

<article id="headContent" class="border-bottom">

    <div class="jumbotron">
        <h1>Lorem</h1>
        <p><q class="quotes">Innovation distinguishes between leader and follower
        </q>
        <p>-Steve Jobs</p>
        </p>
    </div>

</article>
<div class="container">
    <div class="row">
        <article id="aboutContent">
            <div class="innerwrapper container">
                <div class="text-center" id="aboutLeft">
                    <div class="big-heading">
                        <img src="images/icons/org.svg"
                             title="Organization">
                        <h1 class="text-primary">Lorem</h1>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" id="aboutRight">

                    <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusamus
                        ducimus expedita incidunt
                        magni neque perferendis quos repellendus voluptatem. A asperiores atque aut, autem commodi
                    </p>
                </div>

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-center text-success border-bottom ptb-10 mb-15">Lorem ipsum dolor. </h3>

                    <div class="col-md-4 col-xs-4 ptb-10">
                        <img src="images/icons/progress.png"
                             title="Progress"/>
                        <p>Lorem</p>
                    </div>
                    <div class="col-md-4 col-xs-4 ptb-10">
                        <img src="images/icons/progress.png" title="Progress"/>
                        <p>Lorem</p>

                    </div>
                    <div class="col-md-4 col-xs-4 ptb-10">
                        <img src="images/icons/progress.png"
                             title="Progress">
                        <p>Lorem</p>
                    </div>
                </div>
            </div>
        </article>
        <hr class="css3gradient">
        <article id="productsContent">
            <div class="innerwrapper container">
                <div class="text-center " id="prodRight">
                    <div class="big-heading">
                        <img src="images/icons/product.svg">
                        <h1 class="text-warning">Lorem</h1>
                    </div>
                </div>
                <div id="prodLeft">
                    <div id="prodCarousel">
                        <div class="col-md-12">
                            <h3 class="text-success mb-15">Lorem ipsum dolor sit amet, </h3>
                            <div class="text-center">
                                <div class="col-md-3 border">
                                    <div class="ptb-30">
                                        <img src="http://placehold.it/200x200&amp;text=one"
                                             class="img-responsive img-center">
                                        <h4 class="">Lorem</h4>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Officiis, sit?</p>
                                    </div>
                                </div>
                                <div class="col-md-3 border">
                                    <div class="ptb-30">
                                        <img src="http://placehold.it/200x200&amp;text=one"
                                             class="img-responsive img-center">
                                        <h4 class="">Lorem</h4>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Officiis, sit?</p>
                                    </div>
                                </div>
                                <div class="col-md-3 border">
                                    <div class="ptb-30">
                                        <img src="http://placehold.it/200x200&amp;text=one"
                                             class="img-responsive img-center">
                                        <h4 class="">Lorem</h4>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Officiis, sit?</p>
                                    </div>
                                </div>
                                <div class="col-md-3 border">
                                    <div class="ptb-30">
                                        <img src="http://placehold.it/200x200&amp;text=one"
                                             class="img-responsive img-center">
                                        <h4 class="">Lorem</h4>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Officiis, sit?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <hr class="css3gradient">
        <article id="techContent">
            <div class="innerwrapper container">
                <div id="techLeft" class="col-md-4 text-center">
                    <div class="big-heading innerwrapper">
                        <img src="images/icons/tech.svg">
                        <h1 class="text-success">Lorem</h1>
                    </div>
                </div>
                <div id="techRight" class="col-md-8">

                    <h3 class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>

                    <div id="techGrid">
                        <ul class="list-inline">
                            <li><a id="techGridIcon1" class="selected">
                                <img src="images/icons/html.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon2">
                                <img src="images/icons/css.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon3">
                                <img src="images/icons/javascript.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon4">
                                <img src="images/icons/jquery.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="images/icons/angular.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon6">
                                <img src="images/icons/bootstrap.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon7">
                                <img src="images/icons/java.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon8">
                                <img src="images/icons/php.svg" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon9">
                                <img src="images/icons/mysql.svg" class="img-responsive">
                            </a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
</body>
</html>