/* Common styles starts */

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.back-box {
    position: absolute;
    width: 100%;
    height: 40%;
    background: #21313F;
    z-index: -1;
    left: 0;
}

.container {
    width: 100%;
    max-width: 950px;
}

.border-bottom {
    border-bottom: 1px solid #0E98B9;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.text-justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.name-box {
    padding: 0px 15px;
    height: 90px;
    width: 104px;
    background: #0E98B9;
    font-size: 46px;
    line-height: 90px;
    color: #fff;
    font-weight: bolder;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}


/* Common styles ends */


/* Header section starts */

.header-section {
    padding: 30px 0px 10px 0px;
}

.header-section:after {
    content: '';
    clear: both;
    display: table;
}

.big-heading {
    text-transform: uppercase;
    color: #fff;
}

.small-heading {
    font-weight: bold;
    color: #0E98B9;
}


/* Header section ends */


/* Main section starts */

.main-section:after {
    content: '';
    clear: both;
    display: table;
}

.section-heading {
    padding: 10px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.banner .jumbotron {
    background: #fff;
    border-radius: 0;
    background-size: cover;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}

.intro-text {
    padding: 72px 0px;
}

.section-box {
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

.highlights {
    padding: 0 15px;
}

.highlights li {
    padding: 5px 0px;
}

.work-text {
    text-align: center;
    word-break: break-word;
}

.work-text a {
    text-decoration: none;
    font-weight: bold;
}


/* Main section ends */


/* Footer section ends */

.footer-section {
    border-top: 1px solid #ddd;
    padding: 20px;
}


/* Footer section ends */


/* Media queries for smaller and extra smaller devices */

@media screen and (min-width:320px) and (max-width:767px) {
    .display-block {
        display: block;
        float: none !important;
        text-align: center;
    }
    .name-box {
        margin: 0 auto;
    }
    .intro-text {
        padding: 0;
    }
    .jumbotron {
        min-height: 300px;
    }
    .back-box {
        height: 70%;
    }
}

@media screen and (min-width:768px) {
    .jumbotron {
        min-height: 300px;
    }
}